<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>torneo-clash-royale</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">  
    </head>

<body>
    
    <div class="page-conteiner">

        <header class="main-hearder">
            
            <a href="../../index.html" class="logo">
                <img src="../img/logo.png" alt="">
                <h2>torneo-clash-royale</h2>
            </a>

            <nav>
                <a href="calendario.html">Calendario</a>
                <a href="../views/posiciones.html">Posiciones</a>
                <a href="../views/historial-puntos.html">Historial</a>
                <a href="../views/ranking.html">Ranking</a>
            </nav>
        </header>

        <main class="Historial">
            <div>
                <br>
                <hr>
                <h1>Torneo de Clash Royale</h1>
                <h2>Temporada 2024</h2>
                <br>
                <hr>
            </div>

        <div class="tabla-puntos">

            <h2>Total de Puntos Historial</h2>
            <table>
                <tr>
                    <th style="background-color: black; color: white;" >
                        Jugador
                    </th>
                    <th style="background-color: black; color: white;" >
                        PTS
                    </th>
                    <th style="background-color: black; color: white;" >
                        TJ
                    </th>
                </tr>

                <!--primer puesto-->
                <tr>
                    <td>STEFANO</td>
                    <td>33</td>
                    <td>2</td>
                </tr>

                <!--segundo puesto-->
                <tr>
                    <td>FACU</td>
                    <td>32</td>
                    <td>2</td>
                </tr>

                <!--tercer puesto-->
                <tr>
                    <td>CHAVERO</td>
                    <td>29</td>
                    <td>2</td>
                </tr>

                <!--cuarto puesto-->
                <tr>
                    <td>SERGIO</td>
                    <td>28</td>
                    <td>2</td>
                </tr>

                <!--quinto puesto-->
                <tr>
                    <td>RENZO</td>
                    <td>27</td>
                    <td>2</td>
                </tr>

                <!--secto puesto-->
                <tr>
                    <td>SANTETAS</td>
                    <td>24</td>
                    <td>1</td>
                </tr>

                <!--sectimo puesto-->
                <tr>
                    <td>NEGRO</td>
                    <td>20</td>
                    <td>2</td>
                </tr>

                <!--OCTAVO puesto-->
                <tr>
                    <td>SANTI</td>
                    <td>16</td>
                    <td>1</td>
                </tr>

                <!--NOVENO puesto-->
                <tr>
                    <td>SUTTER</td>
                    <td>9</td>
                    <td>2</td>
                </tr>

                <!--decimo-->
                <tr>
                    <td>GINNO</td>
                    <td>1</td>
                    <td>1</td>
                </tr>

                <!--decimo PRIMERO-->
                <tr>
                    <td>JOACO</td>
                    <td>0</td>
                    <td>1</td>
                </tr>

     
            </table>
            <br>
            <br>
            <h2>historial campeonatos</h2>
            <table>
                <tr>
                    <th style="background-color: black; color: white;">TORNEO</th>
                    <th style="background-color: black; color: white;">CAMPEÓN</th>
                    <th style="background-color: black; color: white;">SUBCAMPEÓN</th>
                    <th style="background-color: black; color: white;">3RO</th>
                </tr>
                <tr> 
                    <td>2023</td>
                    <td>SANTETAS</td>
                    <td>CHAVERO</td>
                    <td>FACU</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>STEFANO</td>
                    <td>FACU</td>
                    <td>SERGIO</td>
                </tr>

            </table>
            <br>
        </div>
        <br>
        </main>
    
    </div>

</body>
</html>