<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>torneo-clash-royale</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">  
    </head>

<body>
    
    <div class="page-conteiner">

        <header class="main-hearder">
            
            <a href="../../index.html" class="logo">
                <img src="../img/logo.png" alt="">
                <h2>torneo-clash-royale</h2>
            </a>

            <nav>
                <a href="calendario.html">Calendario</a>
                <a href="../views/posiciones.html">Posiciones</a>
                <a href="../views/historial-puntos.html">Historial</a>
                <a href="../views/ranking.html">Ranking</a>
            </nav>
        </header>

        <main>
            <div>
                <br>
                <hr>
                <h1>Torneo de Clash Royale</h1>
                <h2>Temporada 2024</h2>
                <br>
                <hr>
            </div>

            <h2>tabla de posiciones</h2>
            <br>

            <div class="posiciones">
                <h2>Torneo Clausura 2024</h2>

                <table>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>J</th>
                        <th>G</th>
                        <th>P</th>
                        <th>CA</th>
                        <th>CC</th>
                        <th>Dif</th>
                        <th>PTS</th>
                    </tr>

                    <!--primer puesto-->
                    <tr>
                        <td style="background-color: rgb(2, 255, 78);">1°</td>
                        <td>JR</td>
                        <td>2</td>
                        <td>2</td>
                        <td>0</td>
                        <td>11</td>
                        <td>2</td>
                        <td>9</td>
                        <td>6</td>
                    </tr>

                    <!--segundo puesto-->
                    <tr>
                        <td style="background-color: rgb(102, 197, 24);">2°</td>
                        <td>REYNALS</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>5</td>
                        <td>1</td>
                        <td>4</td>
                        <td>3</td>
                    </tr>

                    <!--TERCER PUESTO-->
                    <tr>
                        <td style="background-color: rgb(199, 212, 7);">3°</td>
                        <td>CHAVERO</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>4</td>
                        <td>1</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>

                    <!--CUARTO PUESTO-->
                    <tr>
                        <td style="background-color: rgb(199, 212, 7);">4°</td>
                        <td>SANTI</td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>8</td>
                        <td>9</td>
                        <td>-1</td>
                        <td>2</td>
                    </tr>

                    <!--QUINTO PUESTO-->
                    <tr>
                        <td style="background-color: rgb(199, 212, 7);">5°</td>
                        <td>SERGIO</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>

                    <!--SECTO PUESTO-->
                    <tr>
                        <td style="background-color: rgb(199, 212, 7);">6°</td>
                        <td>STEFANO</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>-1</td>
                        <td>0</td>
                    </tr>

                    <!--SECTIMO PUESTO-->
                    <tr>
                        <td>7°</td>
                        <td>NEGRO</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>5</td>
                        <td>7</td>
                        <td>-2</td>
                        <td>0</td>
                    </tr>

                    <!--OCTAVO PUESTO-->
                    <tr>
                        <td >8°</td>
                        <td>RENZO</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>4</td>
                        <td>-3</td>
                        <td>0</td>
                    </tr>

                    <!--NOVENO PUESTO-->
                    <tr>
                        <td style="background-color: rgb(177, 1, 1);">9°</td>
                        <td>SUTTER(B)</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>5</td>
                        <td>-4</td>
                        <td>0</td>
                    </tr>

                    <!--CHORI-->
                    <tr>
                        <td style="background-color: rgb(177, 1, 1);">10°</td>
                        <td>CHAVERO</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>8</td>
                        <td>-7</td>
                        <td>0</td>
                    </tr>
                </table>
            
            </div>
            <br>
            <hr>
        </main>
    
    </div>
</body>
</html>